<div class="form-group">
    <label>{{label}}</label>
    <div class="form-fields">
        {{#if (eq type "area")}}
            <textarea {{#if disabled}}disabled="true"{{/if}} style="resize:vertical" name="{{prefixName}}.{{name}}"
                      {{#if defaultValue}}placeholder="{{defaultValue}}"{{/if}}
            >{{value}}</textarea>
        {{else if (eq type "info")}}
        {{else if (eq type "selection")}}
            <beavers-selection>
                <select name="{{prefixName}}.{{name}}" {{#if disabled}}disabled="true"{{/if}}>
                    {{#select value}}
                        {{#if (or (not value) (eq value ""))}}<option selected disabled value=""></option>{{/if}}
                        {{#each choices}}
                            <option value="{{@key}}" img="{{this.img}}">
                                {{this.text}}
                            </option>
                        {{/each}}
                    {{/select}}
                </select>
            </beavers-selection>
        {{else}}
            <input {{#if disabled}}disabled=true{{/if}} {{#if defaultValue}}placeholder="{{defaultValue}}"{{/if}}
                   value="{{value}}" name="{{prefixName}}.{{name}}" type="{{type}}"/>
        {{/if}}
    </div>
    {{#if (and note (not minimized))}}
        <p class="notes">{{note}}</p>
    {{/if}}
</div>