<div class="simple-ui">
    <div class="dropdown {{#if size}}{{size}}{{/if}} {{#if disabled}}disabled{{/if}}">
        <i class="fa-solid fa-caret-down"></i>
        <input name="{{name}}" style="display:none">
        <div class="default-text">
            {{localize "beaversSystemInterface.select-dialog.preselection"}}
        </div>
        <div class="dropdown-content">
            <div style="position:fixed">
                <div tabindex="0" class="dropdown-inner">
                    {{#each choices}}
                        <div class="option {{#if (eq ../selected @key)}}selected{{/if}}"
                             data-id="{{@key}}">
                            <div class="option-content"
                                 style="{{#if this.img}}background-image:url('{{this.img}}');{{else}}text-indent:0px{{/if}}">
                                {{this.text}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

