<beavers-selection>
    <select name="{{this.name}}" {{#if size}}size="{{size}}"{{/if}} {{#if disabled}}disabled{{/if}}>
        {{#unless this.selected}}
            <option selected disabled>{{localize
                    "beaversSystemInterface.select-dialog.preselection"}}</option>
        {{/unless}}
        {{#each choices}}
            <option {{#if (eq ../selected @key)}}selected{{/if}} value="{{@key}}" img="{{this.img}}">
                {{#if ../enabled}}
                    {{this.text}}
                {{else}}
                    {{{this.text}}}
                {{/if}}
            </option>
        {{/each}}
    </select>
</beavers-selection>